*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.back{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}

.back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top{
    pointer-events: none;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(0, 0, 0); */
    position: absolute;
    top: 0;
    left: 0;
}

.m-part{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* background-color: rgb(0, 0, 0); */
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.nav img{
    height: 60px;
}

.nleft, .nright{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-family: 'Gilroy';
    font-weight: 600;
}

.hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0 , -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100px; */
    /* background-color: red; */
}

.heroleft{
    min-width: 50%;
}

.heroleft .elem{
    position: relative;
    height: 8.5vw;
    overflow: hidden;
    /* background-color: red; */
}

.heroleft .elem h1:nth-child(1){
    top: 0;
}

.heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    font-family: 'kajiro';
    font-weight: 100;
    color: #fff;
    font-size: 10vw;
    line-height: .95;
}

.heroleft button{
    pointer-events: all;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 2vw;
    letter-spacing: .3vw;
    color: black;
    background-color: #fff;
    font-family: 'kajiro';
    border: none;
    margin-top: 15px;
}

.heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 18%;
}

.heroright p{
    text-align: end;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.heroright .img-div{
    width: 100%;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(https://images.unsplash.com/photo-1469334031218-e382a71b716b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.heroright :nth-child(3){
    margin-bottom: 60px;
}

